AUTH_SERVICE_URL='http://user-service:4001'
USER_SERVICE_URL='http://user-service:4001'
ITEM_SERVICE_URL='http://item-service:4002'
REMINDER_SERVICE_URL='http://reminder-service:4003'
NOTIFICATION_SERVICE_URL='http://notification-service:4004'
RECIPE_SERVICE_URL='http://recipe-service:4005'
PORT=4000
JWT_SECRET=your_jwt_secret_here # Your own jwt here
JWT_EXPIRES_IN=1d