PORT=4001
MONGO_URI=mongodb://your_mongo_host:27017/your_database_name # Your database here
GMAIL_EMAIL=your_email@gmail.com # Your gmail
GMAIL_PASSWORD=your_gmail_app_password # your gmail APP password
JWT_SECRET=your_jwt_secret_here # your jwt here
JWT_EXPIRES_IN=1d